/* -------------- */
/* --- GLOBAL --- */
/* -------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto');

* {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}

body {
    background-color: #1E1E2E;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: white;
    /*background-image: url("../images/dog.jpg");*/
    /*background-position: top;*/
    /*background-position-y: -200px;*/
    /*background-repeat: repeat;*/
}

main {
    margin: 20px 0 70px;
}


/* -------------- */
/* --- NAVBAR --- */
/* -------------- */
.navbar {
    background: linear-gradient(to right, #593EC2, #7E3EC2);
}

nav a, .navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.9);
}

nav a:hover, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.65);
}

nav img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin: -10px 0 -8px;
}

nav img:last-child {
    margin-left: 10px;
}

nav hr {
    display: block;
    margin-top: -5px;
    border-left: 1px solid white;
    height: 28px;
}


/* ----------------------------------- */
/* --- HOME (Temporary correction) --- */
/* ----------------------------------- */
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: stretch;
}

.stretch {
    justify-content: stretch;
    align-content: stretch;
}

.flex-container-box {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: stretch;
    width: 100vw;
    background-color: #27293D;
    margin: 0 1% 14px;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    padding: 5px 1% 5px 1%;
}

#Interieur section, #Exterieur section {
    filter: blur(0px);
    transition: filter 0.5s;
}

#indoor-alert, #outdoor-alert {
    pointer-events: none;
    user-select: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 20%;
    text-align: center;
    opacity: 0;
}

#indoor-alert p, #outdoor-alert p {
    padding-bottom: 22px;
    font-size: 18px;
}

#indoor-alert button, #outdoor-alert button {
    width: 136px;
    margin: 0 2.5% 0 0;
    padding: 8px 40px;
    font-weight: bold;
    border: 0;
    border-radius: 16px;
    background: linear-gradient(to right, #593EC2, #7E3EC2);
}

#indoor-back-btn, #outdoor-back-btn {
    display: none;
}

.topbar {
    border-top: solid;
    border-top-color: #593ec2;
}

#indoor-title, #outdoor-title {
    position: relative;
}

#indoor-dot, #outdoor-state {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: lawngreen;
    border-radius: 50%;
}

#indoor-state, #outdoor-state {
    --main-color: forestgreen;
    visibility: hidden;
    width: 70px;
    font-size: 16px;
    font-style: normal;
    background-color: var(--main-color);
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    bottom: 34px;
    left: -6px;
    opacity: 0;
    transition: opacity 0.3s;
}

#indoor-state:after, #outdoor-state:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 16px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--main-color) transparent transparent transparent;
}

#indoor-title:hover #indoor-state, #outdoor-title:hover #outdoor-state {
    visibility: visible;
    opacity: 1;
}

.charts {
    position: relative;
    height: 238px;
    width: calc(46vw - 380px);
}

.comparison-chart {
    padding-bottom: 10px;
    position: relative;
    height: 400px;
    width: 100%;
}

.flex-container-temp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.separator {
    border-left: 2px solid;
    margin-left: 15px;
    padding-left: 15px;
    border-color: #AAA;
}

.temp-center {
    height: 2em;
    line-height: 2em;
    font-size: 24px;
    padding: 0 5px 0 20px;
    margin-right: 8px;
}

.margin {
    padding-top: 8px;
    padding-bottom: 8px;
}

.no-marge {
    margin: 0;
    padding: 0;
}

#comparison-box {
    background-color: #27293D;
    margin: 14px 1%;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    padding: 5px 1% 5px 1%;
}

@media only screen and (max-width: 1300px) {
    .flex-container-box {
        flex-direction: column;
        width: auto;
    }

    .charts {
        height: 180px;
        width: 45vw;
    }

    .comparison-chart {
        height: 300px;
    }

    .separator {
        border: none;
        padding: 0;
    }

    .top-separator {
        border-top: 2px solid;
        border-color: #AAA;
        margin: 12px 0 0 0;
        padding-left: 15px;
    }
}

@media only screen and (max-width: 900px) {
    .flex-container {
        flex-direction: column;
        display: contents;
    }

    #indoor-state, #outdoor-state {
        left: 8px;
    }

    .charts {
        width: 94vw;
    }

    .flex-container-box h2, #comparison-box h2 {
        padding-left: 15px;
    }
}

@media only screen and (max-width: 600px) {
    nav {
        padding: 10px 0 0 0;
    }

    .flex-container-boite-horizontal {
        flex-direction: column;
    }

    .flex-container-boite-horizontal button {
        width: 70%;
        margin: 25px auto 0 auto;
        padding: 8px 40px;
    }

    .flex-container-boite-horizontal a {
        width: 70%;
        margin: 20px auto 0 auto;
        padding: 7px 0;
        background: linear-gradient(to right, #593EC2, #7E3EC2);
    }

    #flex-container-boite-vertical-left {
        padding-right: 0;
    }

    #nom-menu {
        display: none;
    }
}



/* -------------------------------------------------------------- */
/* --- LOGIN / RECOVERY / REGISTER / PROFIL / SETTINGS / HELP --- */
/* -------------------------------------------------------------- */
#accessibility {
    display: none;
}

.box {
    background-color: #27293D;
    margin: 8px;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    padding: 16px;
    border-top: solid;
    border-top-color: #593ec2;
}

.small-w {
    max-width: 576px;
    margin-right: auto;
    margin-left: auto;
}

.medium-w {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}

.large-w {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

.box-title {
    font-size: 1.6em;
    font-weight: bold;
}

.box-subtitle, .box-subtitle a {
    margin-top: 12px;
    color: white;
    font-size: 1em;
    text-align: center;
}

form {
    padding: 0 30px;
}

.form-control {
    margin-bottom: 14px;
    padding: 6px;
}

.form-control:last-of-type {
    margin-bottom: 0;
}

form a, form a:hover {
    color: white;
}

form button, .button button {
    width: 100%;
    margin-bottom: 10px;
    padding: 6px;
    border-radius: 4px;
    border: 0;
    background: linear-gradient(to right, #593EC2, #7E3EC2);
}

#profil-picture {
    border-radius: 50%;
    width: 128px;
    height: 128px;
}

.row form {
    padding: 0;
}

.row div {
    padding-bottom: 16px;
}

.row div:last-child {
    padding-bottom: 0;
}

.row h2 {
    font-size: 1.3em;
}

.row p {
    margin-bottom: 10px;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 26vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#overlay h1 {
    font-size: 1.5em;
    margin: 20px 0 0;
}

#overlay button {
    margin-bottom: 10px;
}


@media only screen and (max-width: 460px) {
    form {
        padding: 0;
    }
}


/* -------------- */
/* --- FOOTER --- */
/* -------------- */
#error {
    height: 300px;
}

.big h1 {
    font-size: 4em;
}

.big p {
    font-size: 2.5em;
}


/* -------------- */
/* --- FOOTER --- */
/* -------------- */
footer {
    padding: 15px;
    position: fixed;
    text-align: center;
    font-size: 13px;
    background-color: #101018;
    bottom: 0;
    left: 0;
    right: 0;
}

footer p {
    margin: 0;
}

footer a, footer a:hover {
    color: white;
    text-decoration: none;
}

.alert {
    position: absolute;
    top: 3.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    z-index: 1;
    animation: hideAlert .5s ease-in 3s forwards;
}

@keyframes hideAlert {
    from {
        opacity: 1;
        display: block;
    }

    to {
        opacity: 0;
        display: none;
    }
}

.social-login-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 3.5%;
}