/* -------------- */
/* --- GLOBAL --- */
/* -------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto');

body {
    background-color: #1C1E1F;
    margin: 70px 0 10px 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: white;
}


/* -------------- */
/* --- HEADER --- */
/* -------------- */
nav {
    background-color: #363636;
    overflow: hidden;
    padding: 10px 25px 0 25px;
    position: fixed;
    width: 100%;
    top: 0;
}

nav ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-top: 7px;
    padding: 0 12px 0 12px;
    float: left;
}

nav a {
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: lightgray;
}

nav img {
    border-radius: 16px;
    padding: 0;
    margin-top: -8px;
    width: 35px;
}

nav hr {
    display: inline-block;
    margin-top: -5px;
    border-left: 1px solid white;
    height: 28px;
}


/* ------------ */
/* --- MAIN --- */
/* ------------ */
main {
    margin: 0 15px;
}

input {
    padding: 6px 6px;
}

button {
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


/* ------------------------- */
/* --- RESPONSIVE DESIGN --- */
/* ------------------------- */
@media only screen and (max-width: 600px) {
    nav {
        padding: 10px 0 0 0;
    }

    #hello-world {
        display: none;
    }
}

@media only screen and (max-width: 420px) {
    #formations {
        display: none;
    }
}
